@{
    ViewBag.Title = "About";
}
<div class="aboutSection container">
    <div class="row container"style="margin-top:60px">
        <h2 style="font-family: 'Roboto'">About Us</h2><br>
        <h4 style="font-family: 'Roboto'">Our Story</h4>
        <p style="font-family: 'Roboto'">
            Chaldal.com is an online shop in Dhaka, Bangladesh. We believe time is valuable to our fellow Dhaka residents,<br>
            and that they should not have to waste hours in traffic, brave bad weather and wait in line just to buy basic necessities
            like eggs!  This is why Chaldal delivers everything you need right at your door-step and at no additional cost.<br><br>
            Chaldal is a work in progress, and we hope to get better over time. We are firm believers in using technology and education
            to improve Bangladesh, and we will continue to invest all our effort in pushing the boundaries of technology.<br>
            If you have ideas on how we can improve, we would love to hear from you. Please do email us at info@chaldal.com.
        </p>

        <h4 style="font-family: 'Roboto'">Waseem (Founder & CEO)</h4>
        <p style="font-family: 'Roboto'">
            Chaldal.com is an online shop in Dhaka, Bangladesh. We believe time is valuable to our fellow Dhaka residents,<br>
            and that they should not have to waste hours in traffic, brave bad weather and wait in line just to buy basic necessities
            like eggs!  This is why Chaldal delivers everything you need right at your door-step and at no additional cost.<br><br>
            Chaldal is a work in progress, and we hope to get better over time. We are firm believers in using technology and education
            to improve Bangladesh, and we will continue to invest all our effort in pushing the boundaries of technology.<br>
            If you have ideas on how we can improve, we would love to hear from you. Please do email us at info@chaldal.com.
            This is why Chaldal delivers everything you need right at your door-step and at no additional cost.<br><br>
            If you have ideas on how we can improve, we would love to hear from you. Please do email us at info@chaldal.com.
            If you have ideas on how we can improve, we would love to hear from you. Please do email us at info@chaldal.com.
        </p>
    </div>
</div>
