@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <section class="sliderArea">
        <div class="row slider">
            <img src="~/Image/3.jpg" />
        </div>
    </section>
    
    <div class="container body-content aboutArea">
        <div class="row container">
            <h1 class="text-center">Our Product Catagories</h1>
            <div class="col-md-4">
                <img src="~/Image/lp-meat-fish-banner.jpg" />
            </div>
            <div class="col-md-4">
                <img src="~/Image/lp-fruits-and-vegetables-banner.jpg" />
            </div>
            <div class="col-md-4">
                <img src="~/Image/lp-cooking-banner.jpg" />
            </div>
        </div>

        <div class="row container about" id="rowPortion2">
            <h1 class="text-center">Why People Love Us</h1>
            <div class="col-md-4 about">
                <h3>Convenient & Quick</h3>
                <p>No waiting in traffic, no haggling, no worries carrying groceries, they're delivered right at your door.</p>
            </div>

            <div class="col-md-4 about">
                <h3>Freshly Clicked and Picked</h3>
                <p>Our fresh produce is sourced every morning, you get the best from us.</p>
            </div>

            <div class="col-md-4 about">
                <h3>A wide range of Products</h3>
                <p>With 4000+ Products to choose from, forget scouring those aisles for hours.</p>
            </div>
        </div>
    </div>

    <section class="schedule-wrapper">
        <div class="parallax">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="schedule text-center">
                            <h1 class="schedule-heading">ORDER NOW</h1>
                            <h4>Call For Order</h4>
                            <h2>Everyday 11ap to 11pm</h2>
                            <h5>ORDER NUMBER: +8801674 524 658</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>