
@{
    ViewBag.Title = "Index";
}

<div class="body-content container productPortion" style="margin-top:60px">
    <h2 style="" class="text-center">Products & Price</h2>
    <div class="row text-center">
        <div class="col-md-2" id="">
            <img src="~/Image/image-03-small.jpg" /><br>
            <a href="" style="margin-left:90px">Rice</a>
        </div>
        <div class="col-md-2" id="">
            <img src="~/Image/egg.jpg" />
            <a href="" style="margin-left:90px">Egg</a>
        </div>
        <div class="col-md-2" id="">
            <img src="~/Image/images (1).jpg" />
            <a href="" style="margin-left:90px">Milk</a>
        </div>
        <div class="col-md-2" id="">
            <img src="~/Image/Assorted_Creams_275x210.jpg" />
            <a href="" style="margin-left:90px">Biscuit</a>
        </div>
        <div class="col-md-2" id="">
            <img src="~/Image/Chocolate.jpg" />
            <a href="" style="margin-left:80px">Chocolate</a>
        </div>
    </div>

    <div class="row productArea">
        <div class="col-md-2" id="">
            <img src="~/Image/fountain_collage.jpg" /><br>
            <a href="" class="text-center">Ice Cream</a>
        </div>
        <div class="col-md-2" id="">
            <img src="~/Image/49452706.jpg" /><br>
            <a href="" style="margin-left:90px">Dal</a>
        </div>
        <div class="col-md-2" id="">
            <img src="~/Image/images.jpg" /><br>
            <a href="" style="margin-left:90px">Sugar</a>
        </div>
        <div class="col-md-2" id="">
            <img src="~/Image/1382881818_212077567_285260900.jpg" /><br>
            <a href="" style="margin-left:90px">Oil</a>
        </div>
        <div class="col-md-2" id="">
            <img src="~/Image/13310748_s-caroline-hope.jpg" /><br>
            <a href="" style="margin-left:80px">Flour</a>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="buyNow col-lg-4">
            @Html.ActionLink("Buy Now", "Create")
        </div>
        <div class="col-lg-4"></div>
    </div>
</div>




